* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(15, 110, 92, 0.25);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(15, 110, 92, 0.4);
}
